<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Atv1</title>
</head>
<body>

    <div class="explicacao">
        <p>
            Um decorator (decorador) em Python é uma funcionalidade poderosa e elegante que permite modificar ou estender o comportamento de funções, métodos ou classes sem alterar o seu código fonte original.
        </p>
        <p>
            Decorators são ideais para resolver problemas transversais (cross-cutting concerns) — lógicas que precisam ser aplicadas em múltiplos lugares, mas que não fazem parte da lógica de negócios principal da função
        </p>
    </div>
</body>
</html>