* {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: cadetblue;
    height: 8vh;
    display: flex;
    align-items: center;
    padding: 10px;
}

body {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h2 {
    color: cadetblue;
}

.infos {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hard-skills {
    display: flex;
    flex-direction: column;
    gap: 10px;
}